project    = "{{ project }}"
domain     = "{{ domain }}"
login      = "{{ login }}"
user       = "{{ user }}"
pubkey     = "{{ user_pub.public_key }}"
awxpubkey  = "{{ awx_pub.public_key }}"
ec2_type   = "{{ instance_type }}"
region     = "{{ region }}"
ami        = "{{ ami_id }}"